#Common ignored files
*~
*.o
*.swp

#Build 
doc

#Object files
bin/*
objs/*
src/*/objs/*
make/objs/*
test/*/objs/*
libs/*/objs/*
libs/*/build/*
src/build*
test/build*
#botan
*.lib
*.exe
*.pdb
*.ilk

#CMake files
*.txt.user*
src/*/build

build-*

#botan-related files/folders
libs/botan/Makefile
libs/botan/botan
libs/botan/botan-test
libs/botan/libbotan-2.*
